* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 3vh;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 500;
  color: white;
}

#nav {
  display: -ms-grid;
  display: grid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-columns: [bio] 1fr [skills] 1fr [projects] 1fr [contact] 1fr;
      grid-template-columns: [bio] 1fr [skills] 1fr [projects] 1fr [contact] 1fr;
  background-color: #870c35;
  height: 5vh;
  width: 100vw;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

#nav .nav-link {
  background-color: #540032;
  text-decoration: none;
  color: white;
  height: 5vh;
  text-align: center;
}

#nav .active,
#nav .nav-link:hover {
  background-color: #870c35;
}

#nav #bio-nav {
  grid-area: bio;
}

#nav #skills-nav {
  grid-area: skills;
}

#nav #projects-nav {
  grid-area: projects;
}

#nav #contact-nav {
  grid-area: contact;
}

.slide-wrap {
  widows: 100vw;
}

.slider {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slider .slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
  scroll-snap-align: start;
  padding: 15px;
  padding-top: 10vh;
  display: -ms-grid;
  display: grid;
  background-color: #870c35;
  -ms-grid-rows: (auto)[auto-fill];
      grid-template-rows: repeat(auto-fill, auto);
  grid-row-gap: 1%;
  grid-column-gap: 10px;
}

#slide-1 {
  -ms-grid-columns: (minmax(315px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
}

#slide-1 .bio-images {
  height: 310px;
  width: 310px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 8px #2e112d;
}

#slide-1 #profile-image img {
  max-width: 180%;
  max-height: 100%;
}

#slide-1 #fun-image img {
  max-width: 180%;
  max-height: 100%;
}

#slide-1 .bio-text {
  border: solid 1px black;
  background-color: #2e112d;
  color: white;
  border-radius: 5px;
  padding: 5%;
  -webkit-box-shadow: 3px 3px 10px #2e112d;
          box-shadow: 3px 3px 10px #2e112d;
}

@media only screen and (min-width: 700px) {
  #slide-1 {
    -ms-grid-columns: 400px 1fr 400px;
        grid-template-columns: 400px 1fr 400px;
  }
  #slide-1 #profile-text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
  }
  #slide-1 #fun-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  #slide-1 #profile-image {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  #slide-1 #fun-image {
    -ms-grid-column: 3;
    grid-column: 3;
  }
  #slide-1 .bio-images {
    height: 400px;
    width: 400px;
  }
}

#slide-2 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media only screen and (min-width: 700px) {
  #slide-2 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

#slide-2 .card {
  font-size: 1em;
  background-color: #2e112d;
  padding: 5%;
  -webkit-box-shadow: 3px 3px 10px #2e112d;
          box-shadow: 3px 3px 10px #2e112d;
}

#slide-2 .card i {
  font-size: 8em;
}

#slide-3 {
  background-color: #f0673a;
}
/*# sourceMappingURL=style.css.map */